@import "../../colors.scss";

.navbar-button {
  margin: 0.5rem 2rem;
  color: $secondaryText;
  text-transform:capitalize;
}
.navbar-button:hover {
  color: rgba(235, 235, 245, 0.9);
  cursor: pointer;
}

.active-title {
  color: white !important;
}
