.playerCard {
  display: flex;
}

.playerName {
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  flex-basis: 30%;
}

.playerDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.5px;

  height: 100%;
  width: 10rem;
}

.country {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: rgba(255, 255, 255, 0.8);
}

.dob {
  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(255, 255, 255, 0.8);
}

.dominantArm {
  font-weight: 300;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: rgba(255, 255, 255, 0.8);

  width: 10rem;
}

@media only screen and (max-width: 600px) {
  .playerName {
    width: auto;
  }
}
