@import "../../colors.scss";

.card {
  min-height: 10vh;
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #414143;
  box-shadow: 4px 5px 7px 3px rgba(0, 0, 0, 0.25);
  border-radius:1rem;

  .unknown {
    color: $cardRed;
  }
}

.cardArrow {
  fill: white;
}

.card:hover {
  background: #515153;
}
