@import "../../colors.scss";

.matchCard {
  display: flex;
}

.matchDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 19px;
  letter-spacing: 0.5px;

  color: rgba(255, 255, 255, 0.8);
}
