$primaryBackground: #1B1B21;
$secondaryBackground: #25262E;
$cardBackground:#2F3039;

$secondaryText: rgba(235, 235, 245, 0.6);

$calenderYellow: #FFC045;
$globeBlue: #14FFEC;

$cardGreen: #7fe49f;
$cardBlue: #74b0ea;
$cardRed: #D72323;
