$primaryBackground: #1b1b21;
$secondaryBackground: #25262e;
$cardBackground: #2f3039;

$secondaryText: rgba(235, 235, 245, 0.6);

$calenderYellow: #ffc045;
$globeBlue: #14ffec;

$cardGreen: #7fe49f;
$cardBlue: #14ffec;
$cardRed: #ff6464;
