@import "colors.scss";

body {
  background-color: $primaryBackground;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Roboto";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
