@import "../../colors.scss";

.matchDrawer {
  width: 100%;
  height: 100%;
}

.seasonDetails {
  margin-top: 2.5rem;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0;
  .slash {
    font-size: 1.2rem;
    color: $secondaryText;
  }
}

.locationDetails {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
}

.matchHighlightsTitle {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.matchHighlights {
  color: $secondaryText;
  font-weight: 500;

  li {
    margin-top: 1.2rem;
  }
}

.tossWinner,
.tossDecision,
.matchWinner,
.winByRuns,
.winByWickets,
.manOfTheMatch {
  color: white;
}

@media only screen and (max-width: 600px) {
  .matchDrawer {
    padding: 1rem 2rem;
  }
}
