@import "../../colors.scss";

.customDrawer {
  display: flex;
  height: 100%;
  width: 23rem;
  padding: 2rem;
  color: white;
  background-color: $secondaryBackground;
}

@media only screen and (max-width: 600px) {
  .customDrawer {
    padding: 2rem 2rem 4rem 2rem;
    width: 100%;
  }
}
